In [7]:
#importing libraries
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
import numpy as np, pandas as pd, matplotlib.pyplot as plt
from sklearn import tree, metrics, model_selection, preprocessing
from IPython.display import Image, display

In [8]:
url="https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"#importing data

In [9]:
adf=pd.read_csv(url)

In [10]:
adf.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [11]:
#formating data frame
adf=pd.DataFrame(adf.values,columns=['age','workclass','fnlwgt','education','educationnum','maritalstatus','occupation','relationship','race','sex','capitalgain','capitalloss','hoursperweek','nativecountry','class'])

In [12]:
adf

,age,workclass,fnlwgt,education,educationnum,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,nativecountry,class
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
10,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
11,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
12,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
13,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
14,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
15,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
16,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
17,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
18,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
19,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
20,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
21,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
22,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
23,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
24,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
25,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
26,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
27,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
28,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32531,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32532,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32533,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32534,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32535,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32536,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32537,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32538,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32539,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32540,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32541,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32542,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32543,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32544,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32545,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32546,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32547,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32548,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32549,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32550,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32551,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32552,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32553,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32554,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [13]:
adf.dropna(inplace=True)

In [14]:
adf.describe()

,age,workclass,fnlwgt,education,educationnum,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,nativecountry,class
count,32560,32560,32560,32560,32560,32560,32560,32560,32560,32560,32560,32560,32560,32560,32560
unique,73,9,21647,16,16,7,15,6,5,2,119,92,94,42,2
top,36,Private,203488,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
freq,898,22696,13,10501,10501,14976,4140,13193,27815,21789,29849,31041,15216,29169,24719

In [15]:
#Data processing- One hot encoding
adf_Final=pd.get_dummies(data=adf, columns=['workclass', 'education','maritalstatus','occupation','relationship','race','sex','nativecountry'],drop_first=True)

In [16]:
adf_Final.dtypes

age                                          object
fnlwgt                                       object
educationnum                                 object
capitalgain                                  object
capitalloss                                  object
hoursperweek                                 object
class                                        object
workclass_ Federal-gov                        uint8
workclass_ Local-gov                          uint8
workclass_ Never-worked                       uint8
workclass_ Private                            uint8
workclass_ Self-emp-inc                       uint8
workclass_ Self-emp-not-inc                   uint8
workclass_ State-gov                          uint8
workclass_ Without-pay                        uint8
education_ 11th                               uint8
education_ 12th                               uint8
education_ 1st-4th                            uint8
education_ 5th-6th                            uint8
education_ 7th-8th                            uint8
education_ 9th                                uint8
education_ Assoc-acdm                         uint8
education_ Assoc-voc                          uint8
education_ Bachelors                          uint8
education_ Doctorate                          uint8
education_ HS-grad                            uint8
education_ Masters                            uint8
education_ Preschool                          uint8
education_ Prof-school                        uint8
education_ Some-college                       uint8
                                              ...
nativecountry_ Greece                         uint8
nativecountry_ Guatemala                      uint8
nativecountry_ Haiti                          uint8
nativecountry_ Holand-Netherlands             uint8
nativecountry_ Honduras                       uint8
nativecountry_ Hong                           uint8
nativecountry_ Hungary                        uint8
nativecountry_ India                          uint8
nativecountry_ Iran                           uint8
nativecountry_ Ireland                        uint8
nativecountry_ Italy                          uint8
nativecountry_ Jamaica                        uint8
nativecountry_ Japan                          uint8
nativecountry_ Laos                           uint8
nativecountry_ Mexico                         uint8
nativecountry_ Nicaragua                      uint8
nativecountry_ Outlying-US(Guam-USVI-etc)     uint8
nativecountry_ Peru                           uint8
nativecountry_ Philippines                    uint8
nativecountry_ Poland                         uint8
nativecountry_ Portugal                       uint8
nativecountry_ Puerto-Rico                    uint8
nativecountry_ Scotland                       uint8
nativecountry_ South                          uint8
nativecountry_ Taiwan                         uint8
nativecountry_ Thailand                       uint8
nativecountry_ Trinadad&Tobago                uint8
nativecountry_ United-States                  uint8
nativecountry_ Vietnam                        uint8
nativecountry_ Yugoslavia                     uint8
Length: 101, dtype: object

In [112]:
Y_Train = adf_Final['class']
X_Train=adf_Final.drop('class',axis=1)
X_Train=X_Train.drop('nativecountry_ Holand-Netherlands',axis=1)

In [18]:
# decision tree traning
dtree=tree.DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)
dtree.fit(X_Train, Y_Train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [19]:
X_Train.dtypes

age                                          object
fnlwgt                                       object
educationnum                                 object
capitalgain                                  object
capitalloss                                  object
hoursperweek                                 object
workclass_ Federal-gov                        uint8
workclass_ Local-gov                          uint8
workclass_ Never-worked                       uint8
workclass_ Private                            uint8
workclass_ Self-emp-inc                       uint8
workclass_ Self-emp-not-inc                   uint8
workclass_ State-gov                          uint8
workclass_ Without-pay                        uint8
education_ 11th                               uint8
education_ 12th                               uint8
education_ 1st-4th                            uint8
education_ 5th-6th                            uint8
education_ 7th-8th                            uint8
education_ 9th                                uint8
education_ Assoc-acdm                         uint8
education_ Assoc-voc                          uint8
education_ Bachelors                          uint8
education_ Doctorate                          uint8
education_ HS-grad                            uint8
education_ Masters                            uint8
education_ Preschool                          uint8
education_ Prof-school                        uint8
education_ Some-college                       uint8
maritalstatus_ Married-AF-spouse              uint8
                                              ...
nativecountry_ Germany                        uint8
nativecountry_ Greece                         uint8
nativecountry_ Guatemala                      uint8
nativecountry_ Haiti                          uint8
nativecountry_ Honduras                       uint8
nativecountry_ Hong                           uint8
nativecountry_ Hungary                        uint8
nativecountry_ India                          uint8
nativecountry_ Iran                           uint8
nativecountry_ Ireland                        uint8
nativecountry_ Italy                          uint8
nativecountry_ Jamaica                        uint8
nativecountry_ Japan                          uint8
nativecountry_ Laos                           uint8
nativecountry_ Mexico                         uint8
nativecountry_ Nicaragua                      uint8
nativecountry_ Outlying-US(Guam-USVI-etc)     uint8
nativecountry_ Peru                           uint8
nativecountry_ Philippines                    uint8
nativecountry_ Poland                         uint8
nativecountry_ Portugal                       uint8
nativecountry_ Puerto-Rico                    uint8
nativecountry_ Scotland                       uint8
nativecountry_ South                          uint8
nativecountry_ Taiwan                         uint8
nativecountry_ Thailand                       uint8
nativecountry_ Trinadad&Tobago                uint8
nativecountry_ United-States                  uint8
nativecountry_ Vietnam                        uint8
nativecountry_ Yugoslavia                     uint8
Length: 99, dtype: object

In [20]:
#adf_test=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test")

In [21]:
#adf_test.to_csv('adf_test.csv', header=False)

In [22]:
import os
os.getcwd()

'/Users/apple/Documents/Python Scripts'

In [23]:
adf_test=pd.read_csv('adf_test.csv')

In [24]:
adf_test=pd.DataFrame(adf_test.values,columns=['age','workclass','fnlwgt','education','educationnum','maritalstatus','occupation','relationship','race','sex','capitalgain','capitalloss','hoursperweek','nativecountry','class'])

In [25]:
adf_test

,age,workclass,fnlwgt,education,educationnum,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,nativecountry,class
0,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
1,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
2,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
3,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
4,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
5,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
6,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
7,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
8,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K
9,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K
10,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
11,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,<=50K
12,58,?,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,<=50K
13,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K
14,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
15,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,<=50K
16,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,<=50K
17,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,<=50K
18,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,?,>50K
19,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,>50K
20,34,Private,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,<=50K
21,72,?,132015,7th-8th,4,Divorced,?,Not-in-family,White,Female,0,0,6,United-States,<=50K
22,25,Private,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,<=50K
23,25,Private,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
24,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,>50K
25,22,Private,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
26,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,<=50K
27,54,Private,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,<=50K
28,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,<=50K
29,46,State-gov,106444,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,7688,0,38,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16250,81,?,26711,Assoc-voc,11,Married-civ-spouse,?,Husband,White,Male,2936,0,20,United-States,<=50K
16251,60,Private,117909,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,40,United-States,>50K
16252,39,Private,229647,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Female,0,1669,40,United-States,<=50K
16253,38,Private,149347,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
16254,43,Local-gov,23157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,50,United-States,>50K
16255,23,Private,93977,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
16256,73,Self-emp-inc,159691,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K
16257,35,Private,176967,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,<=50K
16258,66,Private,344436,HS-grad,9,Widowed,Sales,Other-relative,White,Female,0,0,8,United-States,<=50K
16259,27,Private,430340,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,45,United-States,<=50K
16260,40,Private,202168,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,55,United-States,>50K
16261,51,Private,82720,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
16262,22,Private,269623,Some-college,10,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
16263,64,Self-emp-not-inc,136405,HS-grad,9,Widowed,Farming-fishing,Not-in-family,White,Male,0,0,32,United-States,<=50K
16264,50,Local-gov,139347,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,?,>50K
16265,55,Private,224655,HS-grad,9,Separated,Priv-house-serv,Not-in-family,White,Female,0,0,32,United-States,<=50K
16266,38,Private,247547,Assoc-voc,11,Never-married,Adm-clerical,Unmarried,Black,Female,0,0,40,United-States,<=50K
16267,58,Private,292710,Assoc-acdm,12,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,36,United-States,<=50K
16268,32,Private,173449,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,<=50K
16269,48,Private,285570,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
16270,61,Private,89686,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,<=50K
16271,31,Private,440129,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
16272,25,Private,350977,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States,<=50K
16273,48,Local-gov,349230,Masters,14,Divorced,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K
16274,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
16275,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
16276,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K
16277,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
16278,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
16279,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [26]:
Y_act=adf_test['class']

In [27]:
adf_testf=adf_test.drop('class',axis=1)

In [28]:
#Data processing- One hot encoding
adf_testf=pd.get_dummies(data=adf_testf, columns=['workclass', 'education','maritalstatus','occupation','relationship','race','sex','nativecountry'],drop_first=True)

In [29]:
adf_testf

,age,fnlwgt,educationnum,capitalgain,capitalloss,hoursperweek,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,nativecountry_ Portugal,nativecountry_ Puerto-Rico,nativecountry_ Scotland,nativecountry_ South,nativecountry_ Taiwan,nativecountry_ Thailand,nativecountry_ Trinadad&Tobago,nativecountry_ United-States,nativecountry_ Vietnam,nativecountry_ Yugoslavia
0,38,89814,9,0,0,50,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,28,336951,12,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,44,160323,10,7688,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,18,103497,10,0,0,30,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,34,198693,6,0,0,30,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
5,29,227026,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,63,104626,15,3103,0,32,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7,24,369667,10,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
8,55,104996,4,0,0,10,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
9,65,184454,9,6418,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
10,36,212465,13,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,26,82091,9,0,0,39,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
12,58,299831,9,0,0,35,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13,48,279724,9,3103,0,48,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
14,43,346189,14,0,0,50,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
15,20,444554,10,0,0,25,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16,43,128354,9,0,0,30,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
17,37,60548,9,0,0,20,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
18,40,85019,16,0,0,45,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19,34,107914,13,0,0,47,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
20,34,238588,10,0,0,35,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
21,72,132015,4,0,0,6,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22,25,220931,13,0,0,43,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23,25,205947,13,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
24,45,432824,9,7298,0,90,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
25,22,236427,9,0,0,20,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
26,23,134446,9,0,0,54,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
27,54,99516,9,0,0,35,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
28,32,109282,10,0,0,60,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29,46,106444,10,7688,0,38,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16250,81,26711,11,2936,0,20,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16251,60,117909,11,7688,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16252,39,229647,13,0,1669,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16253,38,149347,14,0,0,50,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16254,43,23157,14,0,1902,50,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
16255,23,93977,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16256,73,159691,10,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16257,35,176967,10,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16258,66,344436,9,0,0,8,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16259,27,430340,10,0,0,45,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16260,40,202168,15,15024,0,55,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16261,51,82720,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16262,22,269623,10,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16263,64,136405,9,0,0,32,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16264,50,139347,14,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
16265,55,224655,9,0,0,32,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16266,38,247547,11,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16267,58,292710,12,0,0,36,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16268,32,173449,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16269,48,285570,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16270,61,89686,9,0,0,48,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16271,31,440129,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16272,25,350977,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16273,48,349230,14,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
16274,33,245211,13,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16275,39,215419,13,0,0,36,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16276,64,321403,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16277,38,374983,13,0,0,50,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16278,44,83891,13,5455,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16279,35,182148,13,0,0,60,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [30]:
adf_testf.dtypes

age                                          object
fnlwgt                                       object
educationnum                                 object
capitalgain                                  object
capitalloss                                  object
hoursperweek                                 object
workclass_ Federal-gov                        uint8
workclass_ Local-gov                          uint8
workclass_ Never-worked                       uint8
workclass_ Private                            uint8
workclass_ Self-emp-inc                       uint8
workclass_ Self-emp-not-inc                   uint8
workclass_ State-gov                          uint8
workclass_ Without-pay                        uint8
education_ 11th                               uint8
education_ 12th                               uint8
education_ 1st-4th                            uint8
education_ 5th-6th                            uint8
education_ 7th-8th                            uint8
education_ 9th                                uint8
education_ Assoc-acdm                         uint8
education_ Assoc-voc                          uint8
education_ Bachelors                          uint8
education_ Doctorate                          uint8
education_ HS-grad                            uint8
education_ Masters                            uint8
education_ Preschool                          uint8
education_ Prof-school                        uint8
education_ Some-college                       uint8
maritalstatus_ Married-AF-spouse              uint8
                                              ...
nativecountry_ Germany                        uint8
nativecountry_ Greece                         uint8
nativecountry_ Guatemala                      uint8
nativecountry_ Haiti                          uint8
nativecountry_ Honduras                       uint8
nativecountry_ Hong                           uint8
nativecountry_ Hungary                        uint8
nativecountry_ India                          uint8
nativecountry_ Iran                           uint8
nativecountry_ Ireland                        uint8
nativecountry_ Italy                          uint8
nativecountry_ Jamaica                        uint8
nativecountry_ Japan                          uint8
nativecountry_ Laos                           uint8
nativecountry_ Mexico                         uint8
nativecountry_ Nicaragua                      uint8
nativecountry_ Outlying-US(Guam-USVI-etc)     uint8
nativecountry_ Peru                           uint8
nativecountry_ Philippines                    uint8
nativecountry_ Poland                         uint8
nativecountry_ Portugal                       uint8
nativecountry_ Puerto-Rico                    uint8
nativecountry_ Scotland                       uint8
nativecountry_ South                          uint8
nativecountry_ Taiwan                         uint8
nativecountry_ Thailand                       uint8
nativecountry_ Trinadad&Tobago                uint8
nativecountry_ United-States                  uint8
nativecountry_ Vietnam                        uint8
nativecountry_ Yugoslavia                     uint8
Length: 99, dtype: object

In [31]:
np.setdiff1d(adf_Final.columns,adf_testf.columns)

array(['class', 'nativecountry_ Holand-Netherlands'], dtype=object)

In [32]:
# use the model to make predictions with the test data
y_pred = dtree.predict(adf_testf)

In [33]:
# how did our model perform?
count_misclassified = (Y_act != y_pred).sum()
print('Misclassified samples: {}'.format(count_misclassified))
accuracy = metrics.accuracy_score(Y_act, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))

Misclassified samples: 2527
Accuracy: 0.84

In [34]:
y_pred

array([' <=50K', ' <=50K', ' >50K', ..., ' >50K', ' <=50K', ' >50K'],
      dtype=object)

In [35]:
Y_act

0         <=50K
1          >50K
2          >50K
3         <=50K
4         <=50K
5         <=50K
6          >50K
7         <=50K
8         <=50K
9          >50K
10        <=50K
11        <=50K
12        <=50K
13         >50K
14         >50K
15        <=50K
16        <=50K
17        <=50K
18         >50K
19         >50K
20        <=50K
21        <=50K
22        <=50K
23        <=50K
24         >50K
25        <=50K
26        <=50K
27        <=50K
28        <=50K
29         >50K
          ...
16250     <=50K
16251      >50K
16252     <=50K
16253      >50K
16254      >50K
16255     <=50K
16256     <=50K
16257     <=50K
16258     <=50K
16259     <=50K
16260      >50K
16261     <=50K
16262     <=50K
16263     <=50K
16264      >50K
16265     <=50K
16266     <=50K
16267     <=50K
16268     <=50K
16269     <=50K
16270     <=50K
16271     <=50K
16272     <=50K
16273     <=50K
16274     <=50K
16275     <=50K
16276     <=50K
16277     <=50K
16278     <=50K
16279      >50K
Name: class, Length: 16280, dtype: object

In [36]:
##predicting using random forest
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import roc_auc_score
from sklearn.cross_validation import train_test_split, cross_val_score

/Users/apple/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [37]:
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, BaggingRegressor, RandomForestRegressor

In [38]:

# play around with the setting for max_features
rfc2 = RandomForestClassifier(max_features=50, random_state=1)
rfc2.fit(X_Train, Y_Train)
#rpred1 = rfc2.predict(adf_testf)#
#print(roc_auc_score(Y_act, rpred1))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=50, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [39]:
rpred1 = rfc2.predict(adf_testf)
##print(roc_auc_score(Y_act, rpred1))

In [40]:
#Accuracy improved by random forest compared to decision tree 
accuracy = metrics.accuracy_score(Y_act, rpred1)
print('Accuracy: {:.2f}'.format(accuracy))

Accuracy: 0.85

In [41]:
#prediction using XGBoost
from xgboost import XGBClassifier

In [42]:
params = {
    'booster':'gbtree',
    'max_depth': 3,
    'learning_rate': 1.0,
    'silent': 1.0,
    'n_estimators': 5
}

In [119]:
X_Train['hoursperweek']=X_Train['hoursperweek'].astype(int)

In [120]:
bst = XGBClassifier(**params).fit(X_Train, Y_Train)

In [ ]:
adf_testf

In [121]:
XGpred = bst.predict(adf_testf)

/Users/apple/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [122]:

XGpred

array([' <=50K', ' <=50K', ' >50K', ..., ' >50K', ' <=50K', ' >50K'],
      dtype=object)

In [123]:
#Accuracy improved by XG Boost compared to random forest and random forest 
accuracy = metrics.accuracy_score(Y_act, XGpred)
print('Accuracy: {:.2f}'.format(accuracy))

Accuracy: 0.86